---
import Layout from "../layouts/Layout.astro";
import DashboardWrapper from "../components/dashboard/DashboardWrapper";
---

<Layout title="Monitor Elecciones Subnacionales">
    <div class="min-h-screen bg-neutral-white">
        <DashboardWrapper client:only="react" />
    </div>
</Layout>
